<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Bypass Medium</title>
		<meta name="description" content="Medium article bypasser: A way to read premium articles for free" />
		<meta name="keywords" content="medium bypass, medium, premium article" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/demo.css" />
		<link rel="stylesheet" type="text/css" href="/component.css" />
		<link rel="stylesheet" type="text/css" href="/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="/cs-skin-boxes.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Medium Article Bypasser</h1>
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" action="/" method="post">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">Enter your URL:</label>
							<input name="url" class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="medium.com/author/article" required/>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Submit</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			<!-- Related demos -->


		</div><!-- /container -->
		
	</body>
</html>